@import "font-awesome.scss";
@import "animate";

html {
    background: green;
}

body {
    text-align: center;
}


.icon-star {
    font-size: 4em;
    // -webkit-animation: shiny 1s steps(2) infinite;
    // -moz-animation: shiny 1s steps(2) infinite;
    @include animation(shiny 1s steps(2) infinite);
    &:last-child {
        color: magenta;
        // -webkit-animation-delay: 0.5s;
        // -moz-animation-delay: 0.5s;
        @include animation-delay(0.5s);
    }
}

.crazy-test {
    background: lightgreen;
    font-size: 10em;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}

.icon-star,
.crazy-test {
    vertical-align: middle;
    display: inline-block;
}

@include keyframes (shiny) {from { color: #BADA55;} to { color: magenta;}}
// @-webkit-keyframes shiny {from { color: #BADA55;} to { color: magenta;}}
// @-moz-keyframes shiny {from { color: #BADA55;} to { color: magenta;}}
// @keyframes shiny {from { color: #BADA55;} to { color: magenta;}}