<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <title>FB Comments test - Lets LEARN!</title>
    <meta property="fb:admins" content="680549965"/>
    <meta property="fb:app_id" content="403790006414058"/>
</head>
<body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=403790006414058";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <h1>Testing FB Comments</h1>

    <div class="fb-comments" data-href="http://askoth.github.io/test/2013/11/21/comments-fb.html" data-colorscheme="light" data-numposts="5" data-width="550"></div>


</body>
</html>

